{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block contactactive %}active{% endblock contactactive %} 

{% block style %}
<style> 
#contact_restriction{
  margin-top: 40px;
}
</style>
{% endblock style %}
{% block body %}
<div class="container my-3">
<h3>Contact iCoder Admin</h3>
{% if user.is_authenticated %}
<form method="post" action="/contact"> {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="contactemail" name="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="phone" name="phone" class="form-control" id="phone">
  </div>
  <div class="form-group">
    <label for="content">Describe your issue</label>
    <textarea class="form-control" name="content" id="content" cols="30" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% else %}
<h5 id="contact_restriction">Please login in order to contact with us (We do not share any of your information with others)</h5>
{% endif %}
{% endblock body %}