{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block homeactive %}active{% endblock homeactive %} 
{% block body %}
<div class="container my-3">
<div class="jumbotron">
  <h1 class="display-4">Welcome to iCoder</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
</div>
</div>

<div class="container">
<h2>Read our popular Blogs</h2>
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">We will update it soon</strong>
          <h3 class="mb-0">Study related</h3>
          <div class="mb-1 text-muted">21 octomber</div>
          <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis maiores hic illo fuga! Quisquam ex sed quasi quod error inventore perspiciatis? Placeat, expedita.</p>
          <a href="/blog" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
      </div>
</div>
{% endblock body %}